@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,900&display=swap');

*{
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

nav{
    background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #000000, #222222); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #000000, #222222); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: relative;
    z-index: 1;
}

.icono_hamburguesa span{
  height: 3px;
  display: block;
  background-color: white;
  margin-bottom: 6px;
}

.icono_hamburguesa{
  float: right;
  width: 30px;
  position: relative;
  top: 25px;
  margin-left: 37px;
  margin-right: 15px;
}

.nav-item{
    font-size: 25px;
}

.d-flex{
    margin-right: 60px;
    
}


nav ul li{
    display: inline-block;
    margin: 27px 37px;
}
nav ul{
    float: left;
    margin-left: 15px;
}

nav ul li a{
    color: white;
    font-size: 19px;
    padding: 8px 6px;
    text-decoration: none;
    font-family:'Cambria';
}
.logonav{
    margin-right: 30px;
    width: 200px;
    color: white;
    margin-bottom: 0;
    text-align: center;
    margin-top: 6px;
    font-weight: bold;
    font-size: 36px;
}

@media (max-width: 1504px){
    .logonav{
        width: 220px;
    }
}
nav ul li a:hover{
    color: orange;
}
main .seccion-video{
    background: #ffe259; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffe259, #ffa751); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffe259, #ffa751); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.video{
    display: flex;
    justify-content: center;
    padding: 50px;
}


.texto-video{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    text-align: center;
    padding-top: 100px;
    margin-right: 50px;

}
@media(max-width: 675px){
    .video {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

    }
    .texto-video{
        justify-content: center;
        padding-top: 0px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 40px;
        margin-right: 0px;

    }
}
main .seccion-estudiande{
    background: #fff;

}
.texto-estudiante{
        justify-content: center;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 40px;
        display: flex;
        text-align: center;

}
.estudiante {
    display: flex;
        justify-content: center;
        flex-wrap: wrap;
}



.fondo_estudiante {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding-top: 35px;
    background-color: #FFA000;
    height: 15rem;
    width: 20rem;
    border-radius: 2rem;
    margin-bottom: 34px;
     margin: 20px;
}

.fondo_estudiante span{
    font-size: 40px;
    color: #fff;
}

.imagen-beneficio{
    width: 100px;
    height: 100px;
}
.centrar-estudiante{
    display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding-top: 20px;
        padding-bottom: 30px;
}
@media(max-width: 300px){
    .fondo_estudiante {
       
        height: 20rem;

    }
}

main .seccion-profesor{
    background: #ffe259; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffe259, #ffa751); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffe259, #ffa751); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.imagen2{
    position:relative;

}

.pieseguridad{
    
    position:relative;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    color:gray;
    float: left;
}
.pieterminos{
    position: relative;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    color:gray;
}
.piederechos{
    position: relative;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    color:gray;
    float: right;
}

.linea2{
    height: 4px;
}

hr{
    height: 1px;
}

.piepagina{
    padding: 0px;
    display: FLEX;
    justify-content: center;
    position: relative;
    align-items: center;
}

@media(max-width: 600px){
    .piepagina{
        display:list-item;
        font-size: 10px;
    }
    .pieseguridad{
        float: none;

    }
    .piederechos{
        float: none;
    }
    .imagen2{
        position:relative;
        text-align: center;
    }
    
}
