@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

nav{
    background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #000000, #222222); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #000000, #222222); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: relative;
    z-index: 1;
}

.nav-item{
    font-size: 25px;
}

.d-flex{
    margin-right: 20px;
}


nav ul li{
    display: inline-block;
    margin: 5px 30px;
}
nav ul{
    float: left;
}

nav ul li a{
    color: white;
    font-size: 7px;
    text-decoration: none;
    font-family:'Cambria';
}

.logonav{
    margin-right: 30px;
    width: 200px;
    color: white;
    margin-bottom: 0;
    text-align: center;
    margin-top: 6px;
    font-weight: bold;
    font-size: 36px;
}

@media (max-width: 1504px){
    .logonav{
        width: 220px;
    }
}

nav ul li a:hover{
    color: orange;
}

/******** Clau */

header {
    width: 100%;
    height: 900px;
    background: url(fondonuevo.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
header .seccion-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.seccion-header h1{
    padding: 60px 0 0 0;
    font-size: 100px;
    color:black;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    margin-top: 360px;
    display: block;
}

@media (max-width: 734px){
    .seccion-header h1{
        padding: 60px 0 0 0;
        font-size: 80px;
        color:black;
        font-family: 'Indie Flower', cursive;
        font-weight: bold;
        margin-top: 360px;
        display: block;
    }
}


.seccion-header h2{
    padding: 5px 0 0 0;
    font-size: 25px;
    color:black;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;

}
.logo{
    width: 350px;
    height: 450px;
    display: block;
    position: relative;
    padding-bottom: 40px;
    padding-top: 30px;
}

@media (max-width: 449px){
    .logo{
        width: 250px;
        height: 350px;
        display: block;
        position: relative;
        padding-bottom: 40px;
        padding-top: 30px;
    }
}


.btnregistrate{
    display: block;
    width: 280px;
    margin-bottom: 50px;
    margin-top: 20px;
    padding: 10px;
    font-family: 'Cambria';
    font-weight: 700;
    border-radius: 22px;
    font-size: 40px;
    background-color: white;
    color: black;
    text-decoration: none;
    text-align: center;
}
.btnregistrate:hover{
    background-color: orange;
}



.universidades{
    background: #ffe259; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffe259, #ffa751); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffe259, #ffa751); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.contenedor {
    padding: 10px 0;
    width: 95%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
   
}
.titulo2 {
    color: black;
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
    border-radius: 20px;
    background-color: orange;
    margin-bottom: 30px;
}
.imagenes-universidad{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
   
}

.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: rgb(0, 255, 115);
}
.imagen-port{
    width: 50%;
    margin-bottom: 5px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.imagen-port img{
    width: 500px;
    height: 200px;
}

@media screen and (max-width:900px){
    header{
        background-position: center;
    }
    
}
@media screen and (max-width:500px){
    .seccion-header h1{
        font-size: 72px;
    }
    
}

/********* Isa*/

main {
    display: block;
}

main .seccion-empezar {
    background: #ffe259; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #ffe259, #ffa751); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #ffe259, #ffa751); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 30px 0 30px 0;
}

.section {
    display: block;
}

.imagen-izquierda{
    margin-left: 50px;
    margin-top: 36px;
    width: 300px;
    height: 400px;
    display: block;
    margin-bottom: 18px;
}

.imagen-derecha{
    margin-right: 50px;
    margin-top: 36px;
    width: 300px;
    height: 400px;
    display: block;
    margin-bottom: 18px;
}
@media(max-width: 1100px){
    .container-empezar {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .imagen-izquierda{
        margin-top: 36px;
        width: 300px;
        height: 400px;
        display: block;
        margin-bottom: 18px;
    }
    
    .imagen-derecha{
        margin-top: 36px;
        width: 300px;
        height: 400px;
        display: block;
        margin-bottom: 18px;
    }
}
.boton-naranja{ 
  padding: .25rem 10rem .600rem; /*ajustar tamaÃ±o*/
  background-color: #FF7100; /*color boton*/
  color: #fff; /*color letra*/
  font-size: 25px;
  border-radius: 22px;
  font-family: Arial, Helvetica, sans-serif;
  border-color: #FF7100;
    text-decoration: none;
}


.centrar-texto{
    
    padding-bottom: 30px;  
    padding-top: 180px; 
    text-align: center;
    font-size: 1em;
    text-transform: uppercase;
    display: block;
    
}

.texto-medio{
    overflow: hidden;

    padding: 10px;
    font-size: 20px;
    text-align: center;
    
}

.container-empezar {
    display: flex;
    justify-content: center;
}

.texto-pequeno{
  font-size: 0.75rem;
  margin-bottom: 200px;
}
@media(max-width: 1100px){
    .container-empezar {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .imagen-izquierda{
        margin:30px;

    }
    
    .imagen-derecha{
        margin:30px;
    }
    .centrar-texto{
    
        padding-top: 20px; 
        
        
    }
}

/******* Aldo */

.container-objetivo {
  
    display: flex;
    justify-content: center;
   
}


.imagen{
    width: 80%;
    padding-top: 50px;
}

.centrar-texto-segmento{
    overflow: hidden;
    padding-bottom: 30px;  
    padding-top: 170px; 
    text-align: center;
    font-size: 1em;
    display: block;
    position: relative;
}

.fondo_img {
    text-align: center;
    background-color: #FFA000;
    margin-top: 60px;
    height: 20rem;
    width: 15rem;
    border-radius: 2rem;
    margin-bottom: 34px;
    margin-left: 50px;
}

.fondo_img span{
    font-size: 40px;
    color: #fff;
}

@media(max-width: 950px){
    
    .container-objetivo {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .fondo_img {
        margin: 30px;
    }
    .centrar-texto-segmento{
        padding-top: 20px;    
    }
   
}

/******* Yhadira */

.completar-yhadira{
    background-color: white;
    display: block;
    width: 100%;
    height: 400px;
}
.subtitulo{
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color:gray;
}

.imagen1{
    padding: 20px;
    position: relative;
    text-align: center;
}
.imagen2{
    position:relative;

}

.pieseguridad{
    
    position:relative;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    color:gray;
    float: left;
}
.pieterminos{
    position: relative;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    color:gray;
}
.piederechos{
    position: relative;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    color:gray;
    float: right;
}

.linea1{
    height: 4px;
    background-color:lightskyblue;
}
.linea2{
    height: 4px;
}

hr{
    height: 1px;
}

.piepagina{
    padding: 0px;
    display: FLEX;
    justify-content: center;
    position: relative;
    align-items: center;
}

@media(max-width: 600px){
    .piepagina{
        display:list-item;
        font-size: 10px;
    }
    .pieseguridad{
        float: none;

    }
    .piederechos{
        float: none;
    }
    .imagen2{
        position:relative;
        text-align: center;
    }
    
}
